body {
  background-color: #ddd;
  font-family: helvetica, sans-serif;
}

h1 {
  font-weight: bold;
}

h1 span {
  font-weight: normal;
}

.images {
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
  margin-top: 1em;
}

.image {
  flex: 0 1 214px;
  margin: 11px 94px 22px 29px;
  background-size: cover;
  cursor: pointer;
}

.btn-default {
  margin-top: 4em;
}

.search {
  flex: 1;
  text-align: center;
}

button {
  background-color: black;
  border: 0;
  color: white;
  font-size: 2em;
  padding: 10px;
  margin-left: 0;
  font-family: 'Lobster';
}

input[type=text] {
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border: 3px solid black;
  color: black;
  font-family: 'Lato';
  font-size: 2em;
  padding: 8px;
  margin-right: 0;
  text-align:center;
}
.shrink {
  transition: 1s ease;
  }
  
  .shrink:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  }

